<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="16" android:versionName="2.0.1" package="com.southhillscodeclub.SHHS">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="27" />
	<application android:label="SHHS.Android" android:icon="@drawable/icon"></application>
</manifest>